body {
  background-image: url("https://image.scoopwhoop.com/q30/s4.scoopwhoop.com/anj/sw/7b37d320-fcc2-4d83-bf54-a9bbf73b21f6.jpg");
  opacity: 1;
}

.btn {
  color: #010e0e;
  /* Text color */
  background: transparent; /* Remove background color */
  border: 2px solid #0099cc; /* Border thickness, line style, and color */
  border-radius: 70px; /* Adds curve to border corners */
  text-decoration: none;
  text-transform: uppercase; /* Make letters uppercase */
  border: none;
  color: rgb(17, 1, 1);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/*Applying hovering styles*/
.btn:hover {
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  text-decoration: none;
}
/* Applying styles to table*/
table {
  background-color: rgb(253, 244, 253);
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  font-size: 3.5vh;
  table-layout: auto;

  color: rgb(20, 19, 19);
}

table,
tr,
td {
  border: 3px solid #ccc;
  text-align: center;
}

@media only screen and (max-width: 420px),
  (min-device-width: 420px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  body
  {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Name of the Book";
  }
  td:nth-of-type(2):before {
    content: "ISBN";
  }
  td:nth-of-type(3):before {
    content: "Author";
  }
  td:nth-of-type(4):before {
    content: "Number of Pages";
  }
  td:nth-of-type(5):before {
    content: "Name of the Publisher";
  }
  td:nth-of-type(6):before {
    content: "Release Date";
  }
} 
